body {
    background-color: black;
    font-family: Verdana, sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

#link {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

#preview {
    align-items: center;
}